* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    padding: 0;
    margin: 0;
}

:root {
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightblack: #515C6F;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0, 0, 0, 0.15);
}

body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #462e2e;
    position: relative;
    position: relative;
    min-height: 100vh;
}

a {
    color: #000000;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.cf::after {
    content: '';
    display: table;
    clear: both;
}

.secondary-color {
    color: #a19e9e;
}

.container {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
}

#header {
    padding-top: 15px;
    
}

#header p {
    color: #000000;
    float: left;
    font-weight: bold;
    font-size: 2em;
}

#header #nav {
    float: right;
	padding-top: 3%!important;
}

#nav ul {
    list-style: none;
}

#nav li {
    display: inline-block;
}

#nav a {
    display: block;
    padding: 10px 15px;
    font-size: 1.1em;
    transition: all 0.3s ease-in-out;
}

#nav a:hover,
.active {
    background: #252424;
    border-radius: 5px;
}

.active2 {
    color: #fff;
    background: #874B27;
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
}

.acti {
    font-size: 30px;
    text-align: center;
}

.active3 {
    color: #fff;
    font-size: 2em;
	font-weight: 800;
    margin: 0.67em 0;
    text-align: center;
    background: #874B27;
    border-radius: 0px;
    padding: 0px 15px 0px 15px;
}

.act {
    padding-left: 450px;
    text-align: justify;
    color: #000;
    list-style-position: outside;
    list-style-type: disc;
}


/* .act2 {} */

.top-banner-slider .flex_caption3 {
    position: absolute;
    z-index: 30;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0 -15px;
    display: flex;
}

a.slide_banner {
    position: relative;
    display: inline-block;
    margin: 0 12px 0 15px;
}

.slide1_banner1 {
    width: 570px;
}

.slide1_banner2 {
    width: 270px;
}

.slide1_banner3 {
    width: 270px;
}

.top-banner-slider .flex_caption1 {
    text-align: center;
    position: absolute;
    z-index: 30;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 31%;
    max-width: 720px;
    width: 100%;
    text-transform: uppercase;
    color: #333;
}

.top-banner-slider .flex_caption1 .title1 {
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
}

.top-banner-slider .flex_caption1 .title2 {
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
}

.top-banner-slider .flex_caption2 {
    text-align: center;
}

.top-banner-slider .flex_caption2 {
    position: absolute;
    z-index: 30;
    left: 0;
    top: 20%;
    display: table;
    width: 177px;
    height: 177px;
    background-color: #242424;
}

.top-banner-slider .flex_caption2 .middle {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 31px;
    font-size: 26px;
    color: #fff;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.top-banner-slider .flex_caption2 .middle:hover {
    background: #38c8a8;
}

.top-banner-slider .flex_caption2 span {
    display: block;
    font-weight: 100;
    line-height: 36px;
    font-size: 34px;
}

a.slide_banner::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border: 2px solid #ffffff;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

a.slide_banner:hover::before {
    left: -7px;
    top: -7px;
    right: -7px;
    bottom: -7px;
    opacity: 1;
}

.banner-main {
    position: relative;
}

.banner-main .carousel-caption h1 {
    font-size: 51px;
    line-height: 72px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 35px;
    padding-top: 25px;
}

.banner-main .carousel-caption p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.carousel-indicators .active {
    background-color: #18bb18;
}

.carousel-indicators li {
    background-color: #000;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.banner-main .carousel-indicators {
    right: inherit;
}

img {
    max-width: 100%;
}

.cf::after {
    content: '';
    display: table;
    clear: both;
}

.secondary-color {
    color: #a19e9e;
}

.container {
    font-size: 20px;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
}

#header {
    padding-top: 20px;
    
}

#header p {
    float: left;
    font-weight: bold;
    font-size: 2em;
}

#header #nav {
    float: right;
	
}

#nav ul {
    list-style: none;
	
}

#nav li {
    display: inline-block;
}

#nav a {
    display: block;
    padding: 10px 15px;
    font-size: 1.1em;
    transition: all 0.3s ease-in-out;
}

#nav a:hover,
.active {
    background: #252424;
    color: white;
    border-radius: 5px;
}

#banner {
    padding-top: 14em;
    padding-bottom: 18em;
    background-image: url(../img/vintage-barber-paper-jobs-career-concept.jpg);
    background-position: inherit;
    background-size: cover;
    background-attachment: scroll;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

#banner::after {
   
}

#banner h1 {
    font-size: 4em;
    animation: updown 1s ease-in-out infinite;
}

@keyframes updown {
    10% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -30px);
    }
    60% {
        transform: translate(0, 30px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#testimonials {
    background: #f8d298;
    margin-top: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#testimonials h2 {
    text-align: center;
    margin-bottom: 10px;
}

#testimonials .col {
    width: 32.33333333333333%;
    float: left;
    margin-right: 1%;
    border-radius: 0px;
    padding: 0% 0%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
	box-shadow: 5px 5px 10px #2e2e2e;;
}

#testimonials .col:hover {
    margin-top: -10px;
    background: #ffffff00;
    position: relative;
}

#testimonials .col:last-child {
    margin-right: 0;
}

#testimonials .author {
    padding-top: 0px;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: #fffbfb;
}

#footer2 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: #edecec;
    color: black;
}

#footer3 {
    padding-top: 50px;
    padding-bottom: 150px;
    text-align: center;
    background: #f8d298;
}

#footer4 {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    color: #fff8f8;
}

#who-we-are {
    margin-top: -2%;
    text-align: center;
}

#who-we-are h2 {
    padding-bottom: 20px;
    text-size-adjust: 10px;
}

.fot {
    width: 18%;
    float: left;
}

.fot2 {
    width: 18%;
    float: right;
}

#divleft {
    height: auto;
    margin-right: 400px;
    font-size: 30px;
    background-color: #874B27;
    border-radius: 20px;
    width: 18%;
    float: left;
}

#divright {
    height: auto;
    margin-left: 10px;
    font-size: 30px;
    background-color: #874B27;
    border-radius: 10px;
    width: 18%;
    float: right;
}

.cent {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.shadowbox {
    width: 100%;
    border: 1px solid #fff;
}

.block_div {
    display: flex;
       
    margin-top: 10px;
    margin-bottom: 10px;
	background: white;
	border-radius: 30px
}

.circle {
    background-color: #874B27;
    border: 3px solid #874B27;
    height: 10Opx;
    width: 10Opx;
    border-radius: 25px;
    padding: 15px;
    color: #FFFFFF;
    font-size: medium;
}

.span_display {
    display: block;
    text-align: left;
    width: auto;
    /* color: rgb(255, 255, 255); */
}

.li_align {
    display: inline-block;
    text-align: center;
}

.span_display_black {
    display: block;
    font-size: 40px;
    color: #000;
    text-align: center;
    width: auto;
}

.div_diplay {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    /* color: rgb(255, 255, 255); */
    /* display: block; */
}

#divpc {
    height: auto;
    margin-right: 10px;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 0px;
    width: 100%;
    float: left;


#divpc1 {
    height: auto;
    margin-right: 10px;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 0px;
    width: 100%;
    float: left;
}

#divpc2 {
    height: auto;
    margin-right: 10px;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 0px;
    width: 100%;
    float: left;
}

#divpc3 {
    height: auto;
    margin-right: 10px;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 0px;
    width: 100%;
    float: left;
}

.siz {
    font-size: 30px;
    /* font-size: large */
}